.buttons{
    display:flex;
    flex-direction:row;
    justify-content:center;
    height:180px;
    align-items: center;
    gap:30px;
}

body{
    background-color:#102a43;
}


.scoreboard{
    font-family:Blippo, fantasy;
    font-size:50px;
    display:flex;
    flex-direction:row;
    justify-content:center;
    color:white;
}

#outcome{
    text-align:center;
    font-family:Blippo, fantasy;
    font-size:30px;
    color:white;
}

.display{
    height:200px;
    display:flex;
    flex-direction:row;
    gap:300px;
    justify-content: center;
    font-family:Blippo, fantasy;
    color:blue;
    margin-bottom:100px;
}

.display #me{
    background-color:white;
    text-align: center;
    width:200px;
    border-radius:20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.display #opponent{
    background-color:white;
    text-align: center;
    width:200px;
    border-radius:20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.display p{
    text-align:center;
}

.display img{
    width:150px;
    height:150px;
}

.buttons img{
    width:150px;
    height:150px;
}

.buttons #rock, #paper, #scissors{
    border-radius:25px;
    height:180px;
    width:210px;
    background-color:#bcccdc;
    display:flex;
    justify-content:center;
    align-items:center;
}


.buttons #rock:hover, #paper:hover, #scissors:hover{
    background-color:grey;
    border-radius:25px;
    cursor:pointer;
}