.buttons{
    display:flex;
    flex-direction:row;
    justify-content:center;
}

body{
    background-color:#FDFD96;
}


.scoreboard{
    font-family:Blippo, fantasy;
    font-size:50px;
    display:flex;
    flex-direction:row;
    justify-content:center;
}

#outcome{
    text-align:center;
    font-family:Blippo, fantasy;
    font-size:30px;
}

.display{
    height:200px;
    display:flex;
    flex-direction:row;
    gap:300px;
    justify-content: center;
    font-family:Blippo, fantasy;
    color:blue;
    margin-bottom:100px;
}

.display #me{
    background-color:white;
    text-align: center;
    width:200px;
}

.display #opponent{
    background-color:white;
    text-align: center;
    width:200px;
}

.display p{
    text-align:center;
}

.display img{
    width:150px;
    height:150px;
}

.buttons img{
    width:150px;
    height:150px;
    margin-left:40px;
    margin-right:40px;
    padding-left:10px;
    padding-right:10px;
}


.buttons img:hover{
    background-color:grey;
    border-radius:25px;
}